body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

#board{
    height: 540px;      /* 90px x 6 */  
    width: 630px;       /* 90px x 7 */
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto; /* top and bottom margin 0, left and right auto set i.e. equal distance*/
    display: flex; /* this enables the flex container to be flexible*/
    flex-wrap: wrap; /* The flex items break into multiple lines. sets the direction that lines are stacked*/
}

.tile {
    height: 70px;  /* 90 - 10 - 10; 5 + 5 from margin. 5 + 5 from border */
    width: 70px;   /* 90 - 10 - 10; 5 + 5 from margin. 5 + 5 from border */
    margin: 5px;
    background-color: white;
    /* /rounded edges */
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.lime-piece {
    background-color: lime;
}

.fuchsia-piece {
    background-color: fuchsia;
}

button {
    font-weight: bold;
    height: 70px;
    width: 70px;
    border: 0px transparent;
    border-radius: 50%;
    margin: 4px;
    padding: 4px;
}

#gameState, #countdown {
    color: blue;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
    100% { opacity: 0; }
  }